@font-face {
    font-family: "Menlo Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Menlo"), url("../fonts/Menlo-Regular.woff") format("woff");
}

.menlo-font{
    font-family: "Menlo" !important;
}